*{
    box-sizing: border-box;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;
}
.wrapper{
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper__header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    justify-content: space-between;
}
.contents__title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    color : #55b2e4;
    font-size: 13px;
    font-weight: 700;
}
.subtitle{
    font-size: 8px;
    padding-left: 5px;
}
.divideLine{
    width: 100%;
    border-top: 1px solid gray;
}
.contents_body{
    font-size: 11px;
    color: gray;
}
.wrapper__body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 270px;
}

.video{

    background-color: gray;
    Width : 100%px;
Height :240px;
    margin-top: 15px;
}